<form action="" method="get">
<label style="float:left;padding-right: 5%">Enter your Nickname</label>
<input id="Nickname" name="Nickname" type="text" />
<button type="Submit" name="Continue" >Continue</button>
</form>