<table border="1">
	<tr>
		<td id="e1" style="width: 20px;height: 20px" ></td>
		<td id="e2" style="width: 20px;height: 20px" ></td>
		<td id="e3" style="width: 20px;height: 20px" ></td>
	</tr>
	<tr>
		<td id="e4" style="width: 20px;height: 20px" ></td>
		<td id="e5" style="width: 20px;height: 20px" ></td>
		<td id="e6" style="width: 20px;height: 20px" ></td>
	</tr>
	<tr>
		<td id="e7" style="width: 20px;height: 20px" ></td>
		<td id="e8" style="width: 20px;height: 20px" ></td>
		<td id="e9" style="width: 20px;height: 20px" ></td>
	</tr>
</table>
